mixin gallery(image = {})  
  a.cover(href=`/p/${image.url}`)
    img(src=`/uploads/thumbs/${image.photo}` alt=`${image.caption}`)
    #overlay
      p(style="color: white") #{image.comments.length} comments
